<header style="margin-bottom: 10px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand"><a href="https://www.facebook.com/SourceCode1024" target="nav-link">Ordering Food
                Online Admin Web App</a>
        </div>
        <ul class="navbar-nav">
            <li><a class="nav-link" routerLink="/home">Home</a></li>
            <li><a class="nav-link" routerLink="/cityList">Manage City</a></li>
            <li><a class="nav-link" routerLink="/providerList">Manage Providers</a></li>
            <li><a class="nav-link" routerLink="/branchList">Manage Branches</a></li>
            <li><a class="nav-link" routerLink="">Manage Users</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" (click)="logout()" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>