<div style="margin-left: 10px;">
    <h2 class="font-weight-bold" style="margin:15px ;">Update <span style="color: blue;">{{deliveryArea.branchBean.nameEn}} of
        {{deliveryArea.branchBean.provider.nameEn}}</span> </h2>
</div>
<div class="container">
    <fieldset class="form-groub">
        <label>Area</label>
        <ng-select [searchable]="true" [items]="areaList" bindLabel="nameEn" [(ngModel)]="selectedAreaItem">
        </ng-select>
    </fieldset>
    <fieldset class="form-groub">
        <label>Branch</label>
        <ng-select [searchable]="true" [items]="branchList" bindLabel="nameEn" [(ngModel)]="selectedBranchItem">
        </ng-select>
    </fieldset>
    <fieldset class="form-groub">
        <label>Delivery Fees</label>
        <input class="form-control" type="text" [(ngModel)]="deliveryArea.deliveryFees" required="required">
    </fieldset>
    <fieldset class="form-groub">
        <label>Delivery in minutes</label>
        <input class="form-control" type="text" [(ngModel)]="deliveryArea.deliverInMinutes" required="required">
    </fieldset>
    <fieldset class="form-groub">
        <button style="margin: 10px;" class="btn btn-primary" (click)="updateDeliveryArea()">Update</button>
        <button class="btn btn-warning" (click)="back()">Back</button>
    </fieldset>
</div>