<h2 class="font-weight-bold" style="margin:15px ;">Manage City List</h2>
<div style="margin-left: 1100px;">
    <button class="btn btn-success" (click)="addNewCity()">Add New City</button>
</div>
<div *ngIf='message' class="alert alert-success">{{message}}</div>
<div class="container">
    <table width="40%" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th hidden>Id</th>
                <th>City Name In Arabic</th>
                <th>City Name In English</th>
                <td>View Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iCity of cityList;let i=index">
                <td>{{i+1}}</td>
                <td hidden>{{iCity.id}}</td>
                <td>{{iCity.nameAr}}</td>
                <td>{{iCity.nameEn}}</td>
                <td><button class="btn btn-info" (click)="viewCity(iCity.id)">View Areas</button></td>
                <td><button class="btn btn-primary" (click)="updateCity(iCity.id)">update</button></td>
                <td><button class="btn btn-danger" (click)="removeCity(iCity.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>